<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Capshort.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0BF37137C57E203CB088C3515F05011ACE801BCB</string>
				<key>dateExpires</key>
				<string>22/08/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BF37137C57E203CB088C3515F05011ACE801BCB</string>
						<key>dateExpires</key>
						<string>22/08/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WL8RR8X8J3</string>
						<key>name</key>
						<string>Nguyen Phuc Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BF37137C57E203CB088C3515F05011ACE801BCB</string>
						<key>dateExpires</key>
						<string>22/08/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WL8RR8X8J3</string>
						<key>name</key>
						<string>Nguyen Phuc Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BF37137C57E203CB088C3515F05011ACE801BCB</string>
						<key>dateExpires</key>
						<string>22/08/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WL8RR8X8J3</string>
						<key>name</key>
						<string>Nguyen Phuc Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BF37137C57E203CB088C3515F05011ACE801BCB</string>
						<key>dateExpires</key>
						<string>22/08/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKGamingServicesKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WL8RR8X8J3</string>
						<key>name</key>
						<string>Nguyen Phuc Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BF37137C57E203CB088C3515F05011ACE801BCB</string>
						<key>dateExpires</key>
						<string>22/08/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WL8RR8X8J3</string>
						<key>name</key>
						<string>Nguyen Phuc Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BF37137C57E203CB088C3515F05011ACE801BCB</string>
						<key>dateExpires</key>
						<string>22/08/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WL8RR8X8J3</string>
						<key>name</key>
						<string>Nguyen Phuc Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0BF37137C57E203CB088C3515F05011ACE801BCB</string>
						<key>dateExpires</key>
						<string>22/08/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WL8RR8X8J3</string>
						<key>name</key>
						<string>Nguyen Phuc Nguyen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WL8RR8X8J3.com.capshort.Capshort</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:wv.capshort.com</string>
					<string>webcredentials:wv.capshort.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>WL8RR8X8J3</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Capshort.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1f3db739-cb96-48f1-b526-c1825c423f77</string>
				<key>dateExpires</key>
				<string>22/08/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.capshort.Capshort</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WL8RR8X8J3</string>
				<key>name</key>
				<string>Nguyen Phuc Nguyen</string>
			</dict>
			<key>versionNumber</key>
			<string>0.12.0</string>
		</dict>
	</array>
</dict>
</plist>
